# Supabase Configuration
# The URL of your Supabase project (Safe for client-side)
NEXT_PUBLIC_SUPABASE_URL=

# The Anon Key for your Supabase project (Safe for client-side)
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# The Service Role Key for your Supabase project (DANGEROUS: Keep server-side only!)
SUPABASE_SERVICE_ROLE_KEY=
